header {
  background-color: var(--clr-yellow);
  padding: 1rem 0;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav > * {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding: 1rem 0;
}

.nav-logo-wrapper {
  display: flex;
  align-items: center;
}

.nav__logo {
  height: 40px; /* Ajustează înălțimea după necesități */
  width: auto;
  object-fit: contain;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav__right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media only screen and (min-width: 900px) {
  .nav {
    justify-content: space-between;
    flex-direction: row;
  }
}

@media only screen and (max-width: 500px) {
  .nav > * {
    gap: 3rem;
  }
}